fastapi
uvicorn
requests
pytest
openai
python-dotenv
azure-identity
azure-keyvault-secrets
starlette
tiktoken
prometheus_fastapi_instrumentator
pydantic-core
pytest
markdown
azure-monitor-opentelemetry
opentelemetry-api
opentelemetry-sdk
opentelemetry-instrumentation-fastapi
opentelemetry-exporter-otlp
